ORIGIN="http://localhost:5173"
MAILGUN_API_KEY=""
BETTER_AUTH_SECRET=""

MASTODON_CLIENT_ID=""
MASTODON_CLIENT_SECRET=""

BOOTSTRAP_ROLES=""

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_PRICE_MEMBER_YEAR=""
STRIPE_PRICE_MEMBER_MONTH=""
STRIPE_PRICE_SUPPORTING_YEAR=""
STRIPE_PRICE_SUPPORTING_MONTH=""

CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_DATABASE_ID=""
CLOUDFLARE_D1_TOKEN=""
